# env config files
.env.prod

# docker services data
.docker/services

# jwt key
token-keypair/

# UI assets
public/bundles/

# composer packages
vendor/

# symfony temp storage
var/

# php code sniffer cache
.phpcs-cache
